/*nav bar*/
p {
    align-self: center;
}


body {
    background-color: #E2C2C6;

}

nav {

    background-color: #896889;
    padding: 20px;

}

ul {
    list-style: none;
    margin: 0;
    padding: 20;
    text-align: center;
}

li {
    display: inline-block;
    margin-right: 60px;
}

a {
    color: #CDE7B0;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;

}

a:hover {
    background-color: #bc9fa2;
    color: #CDE7B0;
    border-radius: 10px;
    transition: all 0.4s ease;
}

/* text home*/
img {
    border-radius: 10px;
    display: block;
    float: right;
    width: 40%;
}
p {
    float: left;
  }